@model PIS_GrpcService.PIS_GrpcService.GrpcAnimal

@{
    ViewData["Title"] = "Редактировать Животное";
}

<h1>Животное</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Category"></label>
        <input asp-for="Category" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Sex"></label>
        <input asp-for="Sex" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Breed"></label>
        <input asp-for="Breed" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Size"></label>
        <input asp-for="Size" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Coat"></label>
        <input asp-for="Coat" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Color"></label>
        <input asp-for="Color" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Ears"></label>
        <input asp-for="Ears" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Tail"></label>
        <input asp-for="Tail" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CapturedAct"></label>
        <input asp-for="CapturedAct" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Mark"></label>
        <input asp-for="Mark" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IdentChip"></label>
        <input asp-for="IdentChip" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>

