@model PIS_GrpcService.PIS_GrpcService.GrpcLocalityCost

@{
    ViewData["Title"] = "Редактировать стоимость по городу";
}

<h1>Стоимость</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="IdCost"></label>
        <input asp-for="IdCost" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IdContract"></label>
        <input asp-for="IdContract" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IdLocality"></label>
        <input asp-for="IdLocality" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Cost"></label>
        <input asp-for="Cost" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>

