@model PIS_GrpcService.PIS_GrpcService.GrpcLocality

@{
    ViewData["Title"] = "Редактировать город";
}

<h1>Город</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>

