@model PIS_GrpcService.PIS_GrpcService.GrpcApplication

@{
    ViewData["Title"] = "Создать заявку";
}

<h4>Создать новую заявку:</h4>
</hr>

<form asp-action="Add">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" readonly value="@ViewBag.AppId" />
    </div>
    <div class="form-group">
        <label asp-for="Date"></label>
        <input id="Date" name="Date" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label asp-for="ApplicantCategory"></label>
        <input asp-for="ApplicantCategory" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AnimalDescription"></label>
        <input asp-for="AnimalDescription" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Urgency"></label>
        <input asp-for="Urgency" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IdLocality"></label>
        <select asp-for="IdLocality" class="form-control" asp-items="ViewBag.LocId"></select>
    </div>
    <input type="hidden" asp-for="Locality" />
    <div class="form-group">
        <label asp-for="IdOrganization"></label>
        <select asp-for="IdOrganization" class="form-control" asp-items="ViewBag.OrgId"></select>
    </div>
    <input type="hidden" asp-for="Organization" />
    </hr>
    </hr>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>

