@model PIS_GrpcService.PIS_GrpcService.GrpcApplication

@{
    ViewData["Title"] = "Редактировать заявку";
}

<h1>Заявка</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ApplicantCategory"></label>
        <input asp-for="ApplicantCategory" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AnimalDescription"></label>
        <input asp-for="AnimalDescription" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Urgency"></label>
        <input asp-for="Urgency" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IdLocality"></label>
        <select asp-for="IdLocality" class="form-control" asp-items="ViewBag.locId"/>
    </div>
    <div class="form-group">
        <label asp-for="IdOrganization"></label>
        <select asp-for="IdOrganization" class="form-control" asp-items="ViewBag.orgId"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>

